<div class="row-fluid">

	<%= form_for(:session, url: sessions_path) do |f| %>
	

	<div id = "signinForm"> 

		<legend>Sign In</legend>

		<%= f.label :name, 'User Name' %>
		<%= f.text_field  :name %>

		<%= f.label :password, 'Password' %>
		<%= f.password_field  :password %>

		<%= f.submit 'Sign In', :class => 'btn' %>

		<br>
		<br>

		<% end %>
	</div>

</div>