<div class="row-fluid">


    <%= form_for @user ,:html => { :class => 'form-horizontal span12' } do |f| %>
    
    <div id = "signupForm"> 
      <legend>Sign Up</legend>

      <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>


      <%= f.label :name, 'User Name' %>
      <%= f.text_field  :name %>

      <%= f.label :password, 'Password' %>
      <%= f.password_field  :password, :placeholder => "Password"  %>

      <%= label_tag :password_confirmation, 'Password Confirmation' %>
      <%= password_field_tag  :password_confirmation, nil, :placeholder => "Password Confirmation" %>

      <%= f.submit 'Sign Up', :class => 'btn' %>
      <br>
      <br>
      <% end %>
    </div>

  </div>